ADDRESS=address of the axum api
FRONTEND_PATH=path to the directory containing the static files
DATABASE_URL=url to postgres
JWT_SECRET=secret used to encode tokens
JWT_ISSUER=issuer of tokens
JWT_AUDIENCE=audience of tokens
JWT_REFRESH_EXPIRY=the refresh token expiry duration is seconds
JWT_ACCESS_EXPIRY=the access token expiry duration in secodss